[user]
  name = John Griffiths
	email = john@johnantoni.com
[alias]
    cl = clone
    co = checkout
    ci = commit
    cp = cherry-pick
    br = branch
    aa = add --all .

    fo = fetch origin
    fa = fetch --all
    pu = pull --rebase
    pull = pull --rebase
    pullff = pull --ff-only
    up = push

    sl = stash list
    sa = stash apply
    ss = stash save

    s = status -s
    st = status -s

    di = diff
    diff = diff --word-diff
    dc = diff --cached

    # modified files in last commit
    dl = !git log -1

    # diff against last commit
    dlc = diff --cached HEAD^

    # find file
    f = "!git ls-files | grep -i"

    # find string in codebase
    grep = grep -Ii
    gr = grep -Ii

    # find in all commits
    grep-all = !sh -c 'git rev-list --all | xargs git grep \"${1}\"' -

    # find author
    whois = !sh -c 'git log -i -1 --pretty=\"format::%an <%ae>\n\" --author=\"$1\"' -

    # check for branch inside current branch
    contains=branch --contains

    # commit log
    r = !git l -10
    l = "!. ~/.githelpers && pretty_git_log"

[core]
  autocrlf = input
  excludesfile = /Users/johngriffiths/.gitignore
  whitespace = error,trailing-space,cr-at-eol,-blank-at-eof,tab-in-indent
  pager = /usr/bin/less -XRS -x4
[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[github]
  user = johnantoni
[sendemail]
  multiedit = true
  supresscc = self
[pack]
  threads = 0
[branch]
  autosetuprebase = always
[filemerge]
  executable = diffmerge
[merge]
	tool = diffmerge
[mergetool]
	keepBackup = false
  prompt = false
[difftool]
  prompt = false
[diff]
	tool = diffmerge
[hooks "pre-commit"]
  enabled = true
  whitespace-rb = false
[hooks "post-checkout"]
  enabled = true
  update-submodules-rb = true
  check-bundle-rb = true
[hooks "post-merge"]
  enabled = true
  update-submodules-rb = true
  check-bundle-rb = true
[init]
  templatedir = ~/.dotfiles/git_template
[push]
	default = simple
[tig]
  show-date = relative
  line-graphics = utf8
  tab-size = 4
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
