[user]
	name = John Griffiths
	email = john@johnantoni.com
[alias]
    co = checkout
    commit = commit --verbose
    ci = commit
    cp = cherry-pick
    amend = commit --amend
    aa = add --all
    fo = fetch origin
    fa = fetch --all
    ff = merge --ff-only
    noff = merge --no-ff
    pom = push origin master
    pu = pull --rebase
    pull = pull --rebase
    pullff = pull --ff-only
    pop = stash pop

    s = status
    st = status
    ds = diff --stat=160,120  # files changed
    di = diff                 # uncommitted changes
    dh1 = diff HEAD~1         # changes in last commit
    r = !git l -30            # commit log
    l = "!. ~/.githelpers && pretty_git_log" # pretty commit log
    ll = log --stat --abbrev-commit # verbose commit log
    div = divergence # how far branch has diverged from parent branch
  
    grep-all = !sh -c 'git rev-list --all | xargs git grep \"${1}\"' - # find in all commits
    whois = !sh -c 'git log -i -1 --pretty=\"format::%an <%ae>\n\" --author=\"$1\"' - # find who made the change

[core]
  autocrlf = input
  excludesfile = /Users/johngriffiths/.gitignore
  whitespace = error,trailing-space,cr-at-eol,-blank-at-eof,tab-in-indent
  pager = /usr/bin/less -XRS -x4
[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[github]
  user = johnantoni
[sendemail]
  multiedit = true
  supresscc = self
[pack]
  threads = 0
[branch]
  autosetuprebase = always
[filemerge]
  executable = vimdiff
[merge]
  tool = vimdiff
[mergetool]
	keepBackup = true
  prompt = false
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[hooks "pre-commit"]
  enabled = true
  whitespace-rb = false
[hooks "post-checkout"]
  enabled = true
  update-submodules-rb = true
  check-bundle-rb = true
[hooks "post-merge"]
  enabled = true
  update-submodules-rb = true
  check-bundle-rb = true
[init]
  templatedir = ~/.dotfiles/git_template
[push]
  default = nothing
[tig]
  show-date = relative
  line-graphics = utf8
  tab-size = 4
