[user]
	name = John Griffiths
	email = john@johnantoni.com
[alias]
    st = status
    co = checkout
    ci = commit
    civ = commit --no-verify
    amend = commit --amend
    aa = add --all
    fo = fetch origin
    fa = fetch --all
    ff = merge --ff-only
    noff = merge --no-ff
    pu = pull --rebase
    pullff = pull --ff-only
    b = branch
    ba = branch -a
    pom = push origin master

    fixup = !sh -c 'git commit --fixup=$1' -
    squash = !sh -c 'git commit --squash=$1' -
    ri = rebase --interactive --autosquash

    # diff
    d = difftool
    di = diff
    dc = diff --cached
    ds = diff --stat=160,120
    dh1 = diff HEAD~1

    # list
    head = !git l -1
    h = !git head
    hp = "!. ~/.githelpers && show_git_head"
    r = !git l -30
    ra = !git r --all
    l = "!. ~/.githelpers && pretty_git_log"
    la = !git l --all
    lt = log --graph --pretty=format:"%C(yellow)%h%C(cyan)%d%Creset * %cd * %s %C(white)- %an, %ar%Creset"
    ll = log --stat --abbrev-commit

    # stats
    div = divergence
    gn = goodness
    gnc = goodness --cached

[core]
  autocrlf = input
  excludesfile = /Users/johngriffiths/.gitignore
  whitespace = error,trailing-space,cr-at-eol,-blank-at-eof,tab-in-indent
  pager = /usr/bin/less -XRS -x4
[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[github]
  user = johnantoni
[sendemail]
  multiedit = true
  supresscc = self
[pack]
  threads = 0
[branch]
  autosetuprebase = always
[filemerge]
  executable = vimdiff
[merge]
  tool = vimdiff
[mergetool]
	keepBackup = true
  prompt = false
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[hooks "pre-commit"]
  enabled = true
  whitespace-rb = false
[hooks "post-checkout"]
  enabled = true
  update-submodules-rb = true
  check-bundle-rb = true
[hooks "post-merge"]
  enabled = true
  update-submodules-rb = true
  check-bundle-rb = true
[init]
  templatedir = ~/.dotfiles/git_template
[push]
  default = nothing
[tig]
  show-date = relative
  line-graphics = utf8
  tab-size = 4
